PORT=4000
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/product"
JWT_ACCESS_SECRET="product_platform_access_secret_key_2026_super_secure!"
JWT_ACCESS_EXPIRATION="7d"
UPLOAD_DIR="./uploads"

DATABASE_URL=" "

CLOUDINARY_CLOUD_NAME="আপনার_cloud_name"
CLOUDINARY_API_KEY="আপনার_api_key"
CLOUDINARY_API_SECRET="আপনার_api_secret"